<app-documentation [data]="menuItem"></app-documentation>
<div class="abuelo cajon_vertical cajon_simple">
    <div class="hijo1 cajon_simple cajon_horizontal">
        <em class="emoji carita2">😑</em>
        <div class="hijo_que_crece">https://scrapfly.io/web-scraping-tools/css-xpath-tester</div>
        <div class="cuadrado">...</div>
        <div class="cuadrado">foto</div>
        <div class="parte_abajo">
            <div class="cuadrado actividad">
                <p class="emoji carita3">🥹</p>
            </div>
            <div class="actividad cuadrado">
                <strong class="emoji carita1">😀</strong>
            </div>
        </div>
    </div>
    <div class="hijo2 cajon_simple cajon_horizontal">
        <div class="menu_izquierda cajon_vertical cajon_simple gap_10">
            <div class="actividad cuadrado">
                <strong class="emoji carita1">😀</strong>
            </div>
            <div class="cuadrado">
                <strong class="emoji carita2">😑</strong>
            </div>
            <div class="parte_abajo">
                <div class="cuadrado actividad">
                    <p class="emoji carita3">🥹</p>
                </div>
                <div class="actividad cuadrado">
                    <strong class="emoji carita1">😀</strong>
                </div>
            </div>
        </div>
        <div class="hijo_que_crece cajon_vertical cajon_simple">
            <div class="espaciado cajon_textos">
                <div class="numero_indice">1.</div> Lorem Ipsum es simplemente el texto Lorem Ipsum es simplemente el
                texto Lorem Ipsum es
                simplemente el texto Lorem Ipsum es simplemente el texto Lorem Ipsum es simplemente el texto
            </div>
            <div class="espaciado cajon_textos">
                <div class="numero_indice">10.</div> Hola
            </div>
            <div class="espaciado cajon_textos">
                <div class="numero_indice">100.</div> Chao
            </div>
            <div></div>
            <div></div>
        </div>
    </div>
</div>