<app-documentation [data]="menuItem"></app-documentation>
<div class="rows margin_top_10">
    <div class="column">
        <div class="columns">
            <div class="columns">
                <label class="columns center_align no_select hand">
                    Comment:
                    <input type="text" [(ngModel)]="model.comment" name="comment">
                </label>
            </div>
            <div class="columns">
                <label class="rows center_align no_select hand">
                    <input type="radio" name="visibility" value="public" [checked]="model.visibility == 'public'"
                        [(ngModel)]="model.visibility" class="hand" />
                    Public
                </label>
                <label class="rows center_align no_select hand">
                    <input type="radio" name="visibility" value="private" [checked]="model.visibility == 'private'"
                        [(ngModel)]="model.visibility" class="hand" />
                    Private
                </label>
            </div>
            <div class="columns">
                <label class="rows center_align no_select hand">
                    <input type="checkbox" [(ngModel)]="model.reviewed" name="reviewed" class="hand">
                    Reviewed
                </label>
            </div>
            <div class="columns">
                <label class="columns center_align no_select hand">
                    Summary ({{ model.characters }}):
                    <textarea [(ngModel)]="model.summary" name="summary" rows="5"
                        (ngModelChange)="summaryChanged($event)"></textarea>
                </label>
            </div>
        </div>
    </div>
    <div class="column">
        <pre>{{ model | json }}</pre>
    </div>
</div>