<app-documentation [data]="menuItem"></app-documentation>
<div class="container_horizontal gap_10 fill bordered_table">
    <strong>Before</strong>
    <strong>Filter pipe function</strong>
    <strong>After</strong>
</div>
<div class="container_horizontal gap_10 fill bordered_table">
    <span>{{ model.epoch }}</span>
    <span>epoch2date</span>
    <span>{{ model.epoch | epoch2date }}</span>
</div>
<div class="container_horizontal gap_10 fill bordered_table">
    <span>{{ "popups.exit.title" }}</span>
    <span>translate</span>
    <span>{{ "popups.exit.title" | translate:'test' | async }}</span>
</div>
<div class="container_horizontal gap_10 fill bordered_table">
    <span>{{ "say_bye" }}</span>
    <span>await this.translateSrv.translate("say_bye", ["test"])</span>
    <span>{{ model.text }}</span>
</div>
<div class="container_horizontal gap_10 fill bordered_table">
    <span>{{ "Hello ${name}" }}</span>
    <span>interpolate</span>
    <span>{{ "Hello ${name}" | interpolate:model }}</span>
</div>